* {
  box-sizing: border-box;
}

:root {
  --color-text: #000000;
  --color-text-off: #efefef;
  --color-subtle: #a8a8a8;
  --color-link: #000000;
  --color-link-hover: #0c0c0c;
  --color-link-active: #0c0c0c;
  --color-confirm: #0acf97;
  --color-confirm-darken: #09b080;
  --color-disabled: #101010;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: 'Besley', serif;
  color: var(--color-text);
}

.missing {
}

/* Form styling */
.page-form {
  padding-top: 3em;
  height: 100%;
  min-height: 100vh;
  width: 90%;
  max-width: 620px;
  margin: 0 auto;
}

.form {
  padding: 2em 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.form-wrapper {
  padding-top: 3em;
  height: 100%;
  min-height: 100vh;
  width: 90%;
  max-width: 620px;
  margin: 0 auto;
}

.form-wrapper--wide {
  max-width: 900px;
}

.form__header {
  text-align: center;
}

.form__heading {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}

.form__subheading {
  text-align: center;
  font-size: 1.5rem;
}

.form__google {
  height: 30px;
  margin-right: 8px;
  vertical-align: middle;
}

.form__explanation {
  color: var(--color-subtle);
  font-size: 1.25rem;
}

.form__divisor {
  border: 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
  border-top: 1px solid rgba(0, 7, 9, 0.1);
  height: 0;
  margin: 3em 0;
}

.form__error {
  background-color: #dd3131;
  padding: 2em;
  font-size: 1.5rem;
  color: #ffffff;
  margin: 1em 0;
  border-radius: 3px;
}

.form__field {
  border: none;
  width: 100%;
  margin: 0 0 2em 0;
  padding: 0;
}

.form__field--flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.form__label {
  display: block;
  position: relative;
  margin-bottom: 15px;
}

.form__label-error {
  display: block;
  background-color: #fbe6e6;
  color: #501212;
  font-size: 1.5rem;
  padding: 1em 2em;
  margin-bottom: 1em;
  border-radius: 3px;
}

.form__label--inline {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 8px;
  justify-content: center;
}

.form__label--radio:hover {
  cursor: pointer;
}

.form__labeling {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.form__labeling--split {
  font-size: 2rem;
  color: var(--color-cancel);
  border-bottom: 1px solid #999999;
  margin-bottom: 15px;
  font-weight: 700;
  padding-bottom: 10px;
}

.form__labeling--inline {
  display: inline-block;
}

.form__input--text {
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  font-size: 1.5rem;
  border: 1px solid #96a0aa;
  transition: box-shadow 0.3s ease;
}

.form__input--text:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px var(--color-alt);
  box-shadow: 0 0 0 4px var(--color-alt);
}

.form__input--file {
  display: none;
}

.form__input--radio {
  display: none;
}

.form__custom-radio {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
  margin-top: 5px;
}

.form__custom-radio:before {
  position: absolute;
  content: '';
  height: 12px;
  top: 4px;
  left: 4px;
  width: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

.form__input--radio:checked ~ .form__custom-radio {
  background: #fff;
}

.form__input--radio:checked ~ .form__custom-radio:before {
  opacity: 1;
  transform: scale(1);
}

.form__input--textarea {
  resize: vertical;
  width: 100%;
  min-height: 200px;
  padding: 10px;
}

.form__preview {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
}

.form__preview-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--color-text-off);
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form__button--file:hover .form__preview-cover {
  opacity: 1;
}

.form__btn {
  display: block;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 2em auto;
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0 4px 8px 0 rgb(17 22 26 / 16%),
    0 4px 8px 0 rgb(17 22 26 / 8%), 0 8px 16px 0 rgb(17 22 26 / 4%);
  box-shadow: 0 4px 8px 0 rgb(17 22 26 / 16%), 0 4px 8px 0 rgb(17 22 26 / 8%),
    0 8px 16px 0 rgb(17 22 26 / 4%);
}

.form__btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 8px 0 rgb(17 22 26 / 6%),
    0 4px 16px 0 rgb(17 22 26 / 8%), 0 8px 12px 0 rgb(17 22 26 / 6%),
    0 16px 24px 0 rgb(17 22 26 / 4%);
  box-shadow: 0 0 8px 0 rgb(17 22 26 / 6%), 0 4px 16px 0 rgb(17 22 26 / 8%),
    0 8px 12px 0 rgb(17 22 26 / 6%), 0 16px 24px 0 rgb(17 22 26 / 4%);
}

.form__btn--submit {
  color: var(--color-text-off);
  background-color: var(--color-confirm);
  font-weight: 700;
}

.form__btn--submit:hover {
  background-color: var(--color-confirm-darken);
}

.form__btn:disabled,
.form__btn--submit:disabled,
.form__btn:hover:disabled,
.form__btn--submit:hover:disabled {
  cursor: default;
  background-color: var(--color-disabled);
}

.form__button--oauth {
  display: inline-block;
  width: auto;
  text-decoration: none;
  color: var(--color-subtle);
  font-size: 1.5rem;
  margin: 0;
}

.form__button--file {
  position: relative;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.form__button--file:hover {
}

.form__button--delete,
.form__button--remove {
  background-color: var(--color-cancel);
  color: var(--color-text-off);
  font-weight: 700;
}

.form__button--delete:hover,
.form__button--remove:hover {
  background-color: var(--color-cancel-darken);
}

.form__link {
  display: block;
  color: var(--color-link);
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
}

.form__link:hover {
  color: var(--color-link-active);
}

@media only screen and (min-width: 600px) {
  .form {
    padding: 2em 5em;
  }
}
