.dashboard-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
}

.aside {
  display: none;
  background-color: #323b46;
  min-height: 100%;
  margin-top: 60px;
  position: absolute;
  z-index: 5;
}

.aside--active {
  display: block;
  width: 150px;
}

.aside__list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.aside__item {
}

.aside__item--heading {
  font-size: 1.5rem;
  color: var(--color-subtle);
  padding: 10px 30px;
}

.aside__link {
  display: block;
  text-decoration: none;
  color: var(--color-link-off);
  font-size: 1.5rem;
  padding: 10px 30px;
}

.aside__link:hover {
  color: var(--color-link-off-hover);
}

.dashboard-content {
  flex: 1 0 auto;
  background-color: #fafbfe;
  overflow-y: auto;
}

.header {
  background-color: #ffffff;
  width: 100%;
}

.header--dashboard {
  display: flex;
  position: sticky;
  justify-content: flex-end;
}

.header--dashboard .header__toggle {
  right: auto;
  left: 5px;
}

.header__notification {
  height: 100%;
  margin-right: 5px;
}

.header__notification-toggle {
  background-color: transparent;
  border: none;
  font-size: 2.2rem;
  color: var(--color-subtle);
}

.header__notification-toggle:hover {
  cursor: pointer;
  color: var(--color-subtle-hover);
}

.header__notification--active .header__notification-toggle {
  color: var(--color-confirm);
}

.header__notification-list {
  list-style: none;
  margin: 0;
  padding: 5px 10px;
  width: 100%;
}

.header__notification-item {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-bottom: 10px;
}

.header__notification-item--end {
  margin-bottom: 0;
}

.header__notification-img {
  flex: 0 0 auto;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: red;
}

.header__notification-details {
  overflow: hidden;
}

.header__notification-heading {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  margin-top: 10px;
}

.header__notification-message {
  word-wrap: break-word;
}

.header__notification-date {
  color: var(--color-subtle);
}

.header__notification-all {
  text-decoration: none;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: var(--color-link);
}

.header__notification-all:hover {
  background-color: #f4f6fb;
  color: var(--color-link-hover);
}

.header__user {
  position: relative;
  height: 100%;
  width: 80px;
}

.header__menu-toggle {
  display: flex;
  height: 100%;
  width: 100%;
}

.header__user-toggle {
  width: 100%;
  background-color: transparent;
  border: 1px solid #f1f3fa;
  border-width: 0 1px;
  background-color: #fafbfd;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.header__user-toggle:hover {
  cursor: pointer;
}

.header__user-img {
  width: 32px;
  height: 32px;
  max-width: 32px;
  max-height: 32px;
  background-color: var(--color-confirm);
  border-radius: 50%;
  border: none;
}

.header__user-name {
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header__dropdown {
  display: none;
}

.header__notification--active .header__dropdown,
.header__user--active .header__dropdown {
  display: block;
  position: absolute;
  top: 65px;
  right: 0;
  width: 170px;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e7ebf0;
  border-radius: 5px;
  z-index: 1000;
}

.header__user-link {
  display: block;
  border: none;
  background: transparent;
  color: var(--color-link);
  width: 100%;
  text-align: left;
  padding: 7px 20px;
  margin: 0 0 5px 0;
  white-space: nowrap;
  text-decoration: none;
  font-size: 1.5rem;
}

.header__user-link:hover {
  cursor: pointer;
  color: var(--color-link-hover);
  background-color: #f4f6fb;
}

@media only screen and (min-width: 600px) {
  .dashboard-wrapper {
  }

  .aside {
    display: block;
    margin: 0;
    width: 50px;
    flex: 0 0 auto;
    transition: width 0.3s ease-in-out;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .aside--active {
    width: 260px;
  }

  .aside__header {
    display: block;
    height: 60px;
  }

  .aside__link {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .aside--active .aside__link {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
  }

  .aside__link-text {
    display: none;
    font-size: 1.5rem;
  }

  .aside__link-logo {
    font-size: 1.75rem;
  }

  .aside--active .aside__link-logo {
    margin-right: 10px;
  }

  .aside:not(.asde--active) .aside__link-logo {
    display: inline-block;
  }

  .aside--active .aside__link-text {
    display: inline-block;
  }

  .header--dashboard {
    flex: 1 0 auto;
    max-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .header--dashboard .header__toggle {
    display: block;
  }

  .header__user {
    width: 120px;
    margin-right: 10px;
  }

  .header__user-toggle {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .header__user-img {
    margin-right: 8px;
    flex: 0 0 auto;
  }

  .header__user-name {
    display: block;
    flex: 1 1 1px;
    text-align: left;
  }
}
