.dashboard-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: column wrap;
}

.aside {
  background-color: pink;
  height: 100%;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.aside--active {
  width: 150px;
}

.header {
  background-color: red;
  width: 100%;
}

@media only screen and (min-width: 600px) {
}
