.store {
  padding: 10px;
}

.store__header {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

.store__heading {
  flex: 1 0 auto;
  font-size: 1.75rem;
}

.store__settings {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 1.75rem;
}

.store__settings:hover {
  cursor: pointer;
}

.store__dropdown {
  display: none;
}

.store__dropdown--active {
  display: block;
  position: absolute;
  top: 35px;
  right: 0;
  width: 170px;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e7ebf0;
  border-radius: 5px;
  z-index: 5;
}

.store__dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.store__dropdown-item {
  margin: 10px 0;
}

.store__dropdown-link {
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 7px 20px;
  color: var(--color-link);
}

.store__dropdown-link:hover {
  color: var(--color-link-hover);
  background-color: #f4f6fb;
}

.store__card {
  background-color: #ffffff;
  margin: 20px 0;
  padding: 10px;
}

.store__container {
  height: 300px;
  width: 100%;
}

.store__card-list {
  background-color: transparent;
}

.store__list {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.store__item {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
  -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  text-align: center;
  color: var(--color-subtle);
}

.store__detail-title {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

.store__detail-amount {
  font-size: 2rem;
  font-weight: 700;
  color: #6c757d;
  margin: 10px 0;
}

.store__card-heading {
  font-size: 1.5rem;
  color: #6c757d;
  font-weight: 700;
}

.store__dates {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.store__day {
  border: none;
  background-color: transparent;
  color: #6c757d;
  border-bottom: 1px solid transparent;
}

.store__day:hover {
  cursor: pointer;
}

.store__day-active {
  font-weight: 700;
  border-bottom: 2px solid blue;
}

.store__reservation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.store__reservation-item {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid var(--color-background);
}

.store__reservation-item:hover {
  background-color: var(--color-background);
}

.store__reservation-details {
  display: flex;
  flex-flow: row nowrap;
}

.store__reservation-info {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 0 auto;
}

.store__reservation-img {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
}

.store__reservation-user {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: #6c757d;
  font-weight: 700;
}

.store__reservation-date {
  margin-left: 10px;
  color: #6c757d;
  font-size: 1.25rem;
}

.store__reservation-actions {
  background-color: transparent;
  border: none;
  color: #6c757d;
}

.store__reservation-actions:hover {
  cursor: pointer;
}

.store__reservation-dropdown {
  display: block;
  position: absolute;
  right: 0;
  width: 120px;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e7ebf0;
  border-radius: 5px;
  z-index: 1000;
}

.store__reservation-action {
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 5px;
  text-align: left;
}

.store__reservation-action:hover {
  background-color: var(--color-menu-hover);
  cursor: pointer;
}

.store__reservation-text {
  padding-left: 10px;
}
